body{
    width:100%;
    height: auto;

    /* Alineación */
    display: flex;
    justify-content: center;
}

.escritorio{
    width:100rem;
    height: 55rem;
    

    margin-top: 6rem;
    position: relative; 

}

.escritoriodos{
    position: relative;
    display: flex;
    object-fit: fill;
    align-items: flex-end;
  
}    

.escritorio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

